<!-- the route is coming from line 23 of idex.js file... -->

<!-- this h2 has embedded JS in it... -->
<h2>The param is: <% somethingToPass%></h2>

<h3>Another param is <% idToPass%></h3>

<p>PS This is the home.ejs file...</p>
